<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betterjr.modules.workflow.dao.WorkFlowCategoryMapper">
  <resultMap id="BaseResultMap" type="com.betterjr.modules.workflow.entity.WorkFlowCategory">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="C_NAME" jdbcType="VARCHAR" property="name" />
    <result column="C_DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>