<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betterjr.modules.workflow.dao.WorkFlowBusinessMapper">
  <resultMap id="BaseResultMap" type="com.betterjr.modules.workflow.entity.WorkFlowBusiness">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="C_ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="L_BUSINESS_ID" jdbcType="INTEGER" property="businessId" />
    <result column="L_BASE_ID" jdbcType="INTEGER" property="baseId" />
    <result column="C_BUSINESS_TYPE" jdbcType="CHAR" property="businessType" />
    <result column="L_REG_OPERID" jdbcType="INTEGER" property="regOperId" />
    <result column="C_REG_OPERNAME" jdbcType="VARCHAR" property="regOperName" />
    <result column="D_REG_DATE" jdbcType="VARCHAR" property="regDate" />
    <result column="T_REG_TIME" jdbcType="VARCHAR" property="regTime" />
    <result column="L_MODI_OPERID" jdbcType="INTEGER" property="modiOperId" />
    <result column="C_MODI_OPERNAME" jdbcType="VARCHAR" property="modiOperName" />
    <result column="D_MODI_DATE" jdbcType="VARCHAR" property="modiDate" />
    <result column="T_MODI_TIME" jdbcType="VARCHAR" property="modiTime" />
    <result column="C_BUSIN_STATUS" jdbcType="VARCHAR" property="businStatus" />
    <result column="C_LAST_STATUS" jdbcType="VARCHAR" property="lastStatus" />
  </resultMap>
</mapper>