<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betterjr.modules.workflow.dao.WorkFlowNodeMapper">
  <resultMap id="BaseResultMap" type="com.betterjr.modules.workflow.entity.WorkFlowNode">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="L_BASE_ID" jdbcType="INTEGER" property="baseId" />
    <result column="N_SEQ" jdbcType="INTEGER" property="seq" />
    <result column="C_NAME" jdbcType="VARCHAR" property="name" />
    <result column="C_NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="C_IS_DISABLED" jdbcType="VARCHAR" property="isDisabled" />
    <result column="C_HANDLER" jdbcType="VARCHAR" property="handler" />
    <result column="C_FORM" jdbcType="VARCHAR" property="form" />
    <result column="C_TYPE" jdbcType="CHAR" property="type" />
    <result column="C_OPERROLE" jdbcType="VARCHAR" property="operRole" />
    <result column="C_MONEY_VARIABLE" jdbcType="VARCHAR" property="moneyVariable" />
    <result column="L_REG_OPERID" jdbcType="INTEGER" property="regOperId" />
    <result column="C_REG_OPERNAME" jdbcType="VARCHAR" property="regOperName" />
    <result column="D_REG_DATE" jdbcType="VARCHAR" property="regDate" />
    <result column="T_REG_TIME" jdbcType="VARCHAR" property="regTime" />
    <result column="L_MODI_OPERID" jdbcType="INTEGER" property="modiOperId" />
    <result column="C_MODI_OPERNAME" jdbcType="VARCHAR" property="modiOperName" />
    <result column="D_MODI_DATE" jdbcType="VARCHAR" property="modiDate" />
    <result column="T_MODI_TIME" jdbcType="VARCHAR" property="modiTime" />
    <result column="C_BUSIN_STATUS" jdbcType="VARCHAR" property="businStatus" />
    <result column="C_LAST_STATUS" jdbcType="VARCHAR" property="lastStatus" />
  </resultMap>
</mapper>